extends layout

block content
  p Welcome to #{title}
  form(action="/indexor/", method="get", name="words")
        div.input
            span.label Search input: 
            input(type="text", name="words")
            select(name='ponderation')
                option(value=0, selected=true) Naif
                option(value=1) IDF
        div.actions
            input(type="submit", value="Search")
